mixin collection(title, intro)
    .preview.preview_collection
        img.preview_collection__image(src!=attributes.src)
        .preview_collection__gallery
            img.preview_collection__gallery-item(src="../demo/pic-1.png")
            img.preview_collection__gallery-item(src="../demo/pic-2.png")
            img.preview_collection__gallery-item(src="../demo/pic-3.png")
            img.preview_collection__gallery-item(src="../demo/pic-4.png")
        a.preview__title.preview__title_link(href="collection.html")= title
        p.preview__intro.preview_collection__intro= intro
        a.link-arrow.preview_promo__link(href="collection.html") Посмотреть коллекцию
mixin collection-simple(title, intro)
    .preview.preview_collection
        img.preview_collection__image(src!=attributes.src)
        .preview_collection__gallery
            img.preview_collection__gallery-item(src="../demo/pic-1.png")
            img.preview_collection__gallery-item(src="../demo/pic-2.png")
            img.preview_collection__gallery-item(src="../demo/pic-3.png")
            img.preview_collection__gallery-item(src="../demo/pic-4.png")
        a.link-arrow.preview_promo__link-title(href="collection.html")= title
mixin product(title, collection, size, price)
    .preview.preview_product
        .preview_product__image(style!=attributes.style)
        a.preview__title.preview_product__title.preview__title_link(href="collection.html")= title
        p.preview__intro.preview_product__intro
            span.preview_product__collection= collection
            span.preview_product__size= size 
        p.preview_product__price= price
            span.preview_product__rub ₽
            span.text-bolder /м2
mixin preview-page(title)
    .preview.preview_page
        .preview_page__image(style!=attributes.style)
        a.link-arrow.preview_page__title(href="collection.html")= title